*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #444;
}
.container{
    width: 100%;
    max-height: 100vh;
    padding: 15px;
}
.to-do{
    border-radius: 30px;
    box-shadow: 0 5px 5px 0;
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 30px;
    padding: 40px 30px 70px;
}
.to-do h2{
    color: #444;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}
.to-do h2 img{
    width: 40px;
    margin: 10px;
}
.input-field{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #44444459;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    border: none;
    font-size: 20px;
    outline: none;
    background: transparent;
    font-weight: 10px;
    flex: 1;
}
button{
    border: none;
    border-radius: 10px;
    padding: 16px 50px;
    outline: none;
    background: #44444459;
    font-size: 15px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    background-image: url(/img/unchecked.png);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/img/checked.png);
}
ul li span{
    position: absolute;
    text-align: center;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;

}
ul li span:hover{
    background: #44444459;
    border-radius: 50%;
}